<div class="majors">
	<form class="form" (submit)="onSubmit()" *ngIf="majors.length">
		<div class="form-group">
			<label for="name">Tên</label>
			<input id="name" type="text" class="form-control" [(ngModel)]="teacher.name" name="name"
				   placeholder="Ví dụ: Lê Đình Thanh">
		</div>

		<div class="form-group">
			<label for="email">Ngày sinh</label>
			<input id="email" type="email" class="form-control" [(ngModel)]="teacher.email" name="email"
				   placeholder="thanhld@vnu.edu.vn">
		</div>

		<div class="form-group">
			<label for="date">Ngày sinh</label>
			<input id="date" type="text" class="form-control" [(ngModel)]="teacher.date" name="date"
				   placeholder="20/11/1984">
		</div>

		<div class="form-group">
			<label for="major">Đơn vị</label>
			<select id="major" class="form-control" [(ngModel)]="teacher.major" name="major">
				<option value="0">Chọn 1 đơn vị</option>
				<option *ngFor="let m of majors" [value]="m._id">{{m.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Thêm mới</button>
		</div>
	</form>

	<h2 class="alert alert-warning" *ngIf="!majors.length">Vui lòng tạo ít nhất một đơn vị</h2>

	<div class="list">
		<table class="table" *ngIf="teachers.length">
			<thead>
			<tr>
				<th>STT</th>
				<th>Tên</th>
				<th>Email</th>
				<th>Ngày sinh</th>
				<th>Đơn vị</th>
				<th>Xóa?</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let m of teachers; let i = index;">
				<td>{{i + 1}}</td>
				<td>{{m?.name}}</td>
				<td><a href="mailto:{{m?.email}}">{{m?.email}}</a></td>
				<td>{{m?.date}}</td>
				<td>{{m.major?.name}}</td>
				<td>
					<button (click)="onDelete(m._id)" class="btn btn-default btn-group btn-group-sm">&times;</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
