<div class="majors">
	<form class="form" (submit)="onSubmit()">
		<div class="form-group">
			<label for="name">Tên</label>
			<input id="name" type="text" class="form-control" [(ngModel)]="major.name" name="name"
				   placeholder="Ví dụ: Khoa Công Nghệ Thông Tin">
		</div>

		<div class="form-group">
			<label for="date">Ngày thành lập</label>
			<input id="date" type="text" class="form-control" [(ngModel)]="major.date" name="date"
				   placeholder="20/11/1995">
		</div>

		<div class="form-group">
			<label for="number">Số giảng viên</label>
			<input id="number" type="number" class="form-control" [(ngModel)]="major.number" name="number"
				   placeholder="30">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Thêm mới</button>
		</div>
	</form>

	<div class="list">
		<table class="table">
			<thead>
			<tr>
				<th>STT</th>
				<th>Tên</th>
				<th>Ngày thành lập</th>
				<th>Số giảng viên</th>
				<th>Xóa?</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let m of majors; let i = index;">
				<td>{{i + 1}}</td>
				<td>{{m?.name}}</td>
				<td>{{m?.date}}</td>
				<td>{{m?.number}}</td>
				<td>
					<button (click)="onDelete(m._id)" class="btn btn-default btn-group btn-group-sm">&times;</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
